.container {
  width: auto;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1600px;


}

#wlcm {
  font-family: 'Lemon', cursive;
  text-align: center;
  background-color: #361002;
  color: #F4DB9D;
  border-top: solid 3px #B7410E;
  border-bottom: solid 3px #B7410E;
  text-shadow: 4px 4px 1px #361002;


}

@font-face {
  font-family: 'owull-fontregular';
  src: url('./fonts/owull-o-font-webfont.eot');
  src: url('./fonts/owull-o-font-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/owull-o-font-webfont.woff2') format('woff2'),
       url('./fonts/owull-o-font-webfont.woff') format('woff'),
       url('./fonts/owull-o-font-webfont.ttf') format('truetype'),
       url('./fonts/owull-o-font-webfont.svg#owull-fontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logo {
  overflow: hidden;
  display: inline-block;
  color: #361002;
  text-shadow: none;
  font-family: 'owull-fontregular';
  font-size: 64px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-text-stroke: 0;
}
.mirror {
  overflow: hidden;
  color: #361002;
  text-shadow: none;
  display: inline-block;
  font-family: 'owull-fontregular';
  font-size: 64px;
  -webkit-text-stroke: 0;
}

.owullo {
  font-family: 'owull-fontregular';
  font-size: 80px;
}

#wlcm h1 {
  font-size: 3em;

}

.messg {
  background-color: #6B5238;
  border-top: solid 3px #B7410E;
  border-bottom: solid 3px #B7410E;
}

main {
  width:1120px;
  background-color: #F4DB9D;
}

form {

  align-items: center;
  text-align: center;
  margin: 16px 0px 0px 0px;
  border: solid 2px #361002;
  padding: 8px;
  background-color: #6B5238;

}

input {
  display: flex;
  flex-direction: column;
  padding: 8px 2px;
  width: 320px;
  height: 16px;
  margin-bottom: 16px;
  border-color: #361002;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  outline-color: #077A07;
  align-self: center;


}

label {
  color: #361002;
  font-family: 'Kreon', serif;
  text-align: center;
  margin: 16px 0px 0px 0px;
  font-size: 20px;
  align-self: center;

}

.btn {
  justify-content: center;
  margin: 6px auto;
  width: 160px;
  height: 80px;
  background-color: #B7410E;
  color: #F4DB9D;
  font-family: 'Lemon', cursive;
  font-size: 32px;
  border-radius: 16px;
  box-shadow: 0px 0px 16px #361002;
}
.btn:hover, .btn:focus{
  color: #B7410E;
  background-color: #F4DB9D;
}

.lnk {
  margin: 12px 0px;
  font-family:'Kreon', serif;
  font-size: 16px;
  color: #B7410E;
  text-align: center;
}
  .lnk:hover {
   color: #077a07;
 }

nav {
  padding: 6px;
}

nav  ul {
  background-color: #6B5238;
  list-style: none;
  padding: 6px;
}

nav ul li {
  padding: 6px;
}
nav ul:hover {
  background-color: #b7410e;
}
nav ul li :hover, nav ul li a :hover {
  background-color: rgba(0 ,0, 0, 0);
}

nav ul li a {
  font-family: 'Lemon', cursive;
  background-color: #6B5238;
  color: #F4DB9D;
  list-style: none;
  text-decoration: none;

}

body {
  background-color: #F4DB9D;

}


