.container {
  width: auto;
  box-sizing: border-box;

}
#wlcm {
  font-family: 'Lemon', cursive;
  text-align: center;
  background-color: #361002;
  color: #F4DB9D;
  border-top: solid 3px #B7410E;
  border-bottom: solid 3px #B7410E;
  text-shadow: 4px 4px 1px #361002;
}
#wlcm h1 {
  font-size: 3em;
}

.messg {
  background-color: #6B5238;
  border-top: solid 3px #B7410E;
  border-bottom: solid 3px #B7410E;

}

nav {
  padding: 6px;
}

nav  ul {
  background-color: #6B5238;
  list-style: none;
  padding: 6px;
}

nav ul li {
  padding: 6px;
}
nav ul:hover {
  background-color: #b7410e;
}
nav ul li :hover, nav ul li a :hover {
  background-color: rgba(0 ,0, 0, 0);
}

nav ul li a {
  font-family: 'Lemon', cursive;
  background-color: #6B5238;
  color: #F4DB9D;
  list-style: none;
  text-decoration: none;

}

body {
  background-color: #F4DB9D;
  color: #361002;
}


